* {
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    color: #30302F;
    background-color: #F2F0EB;
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    
    padding: 2rem 0;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #EDECEA;
        }
main {
    position: relative;
    top: 97px;
    width: 80%;
    margin: 0 auto;
}

footer {
    position: relative;
    top: 97px;
    text-align: center;
}
a {
    color: #222222;
    text-decoration: none;
}
.menu a {
            color: #858585;
            text-decoration: none;
}
.menu .active {
    color: #222222;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2rem;
}
/*-------------nav bar---------------------*/
nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h3 {
    margin-left: 1rem;
    font-size: 1.50625rem;
}

nav .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1rem;
    
}
.menu p {
    margin-left: 2rem;
}


@media only screen and (min-width: 481px) {
    nav img {
        display: none;
    }
}


/*-----------footer---------------*/


footer h3 {
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
}

footer p {
    font-size: 1.25rem;
    font-weight: 300;
    padding: 1rem 0 2rem 0;
}



.footer-text a {
    font-size: 1rem;
    margin: 1rem 0;
    
}

.icon {
    padding: 2rem 0 0 0;
}
.icon a {
    color: #222222;
    font-size: 1.25rem;
    margin: 0 1rem;
    text-decoration: none;
}

.icon p {
    font-size: 0.75rem;
    padding-bottom: 0.5rem;
    padding-top: 2rem;
}
.label {
    padding: 5px 20px;
    box-sizing: border-box;
    background-color: #cde5f0;
    border-radius: 5px;
    text-transform:uppercase;
}
a.button {
    padding: 5px 20px;
    box-sizing: border-box;
    background-color: #f0decd;
    border-radius: 5px;
    cursor: pointer;
    text-transform:uppercase;
    color: #34332e;
    transition: background-color 0.45s ease-in 350ms, color 0.45s ease-in-out 350ms;
}
a.button:hover {
    color: #F8F6EA;
    background-color: #888354;
}
a.button:active {
    background-color: #f4f1e5;
}

@media only screen and (max-width: 480px) {
    footer {
        max-width: 80%;
        margin: 0 auto;
    }
}
/*-----------------hero-------------------*/

.hero {
    display: none;
    margin-bottom: 4rem;
}
.hero .text {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    

}
.text h1 {
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 700;
    grid-column: 1 / span 12;
    margin-top: 2rem;
    color: #30302F;
}
.text h2 {
    position: -webkit-sticky;
    position: sticky;
    z-index: 99;
    top: 60px;
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 2rem 0;
    margin-bottom: 2rem;
    grid-column: 1 / span 12;
}
#understand {
    background-image: url('../images/understand.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#empathize {
    background-image: url('../images/empathize.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#design {
    background-image: url('../images/design.png');
    background-position: left;
    background-repeat: repeat;
    background-size: cover;
}
.text p {
    font-size: 1.25rem;
    padding: 2rem 0;
    grid-column: 1 / span 8;
    text-align: justify;
    }

#xie {
    margin-top: 0;
    text-indent: 6em;
    font-family: 'Ma Shan Zheng', cursive;
    background-image: url('../images/fei.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#placeholder {
    visibility: hidden;
}


/*-----------------About me-------------------*/

.case .text {
    text-align: center;
    border-top: 3px solid #EDECEA;
    
}
.container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 3px solid #EDECEA;
}
.left {
    flex-shrink: 3;
    box-sizing: border-box;
    margin-right: 2rem;
    width: 50%;
    overflow: hidden;
    
}

.right {
    width: 40%;

}
.case img {
    margin: 0 auto;
    padding: 2rem;
    max-width: 100%;
    max-height: auto;
    display: block;

}
.case h3 {
    padding: 0 0 1rem 0;
}
.case p {
    line-height: 150%;
}

/*---------------responsive-----------*/
@media only screen and (max-width: 480px) {
    .mobile {
        display: none;
    }
    .hero {
        margin-top: 5rem;
    }
    .hero p {
        grid-column: 2 / span 10;
        font-size: 1rem;
    }
    .hero h1 {
        text-align: center;
        margin: 1rem 0;
        font-size: 3rem;
    }
    .hero h2{
        font-size: 1.5rem;
        text-align: center;
    }
    .hero .container {
        display: flex;
        flex-direction: column;
    }
    .container .label {
        padding: 1 2rem;
        margin-bottom: 1rem;
        font-size: 2rem;
        display: inline-flex;
        justify-content: space-around;
    }
    .container .button {
        padding: 1 2rem;
        text-align: center;
    }
    
    header {
        padding:0;

    }
    nav .menu {
        margin-right: 0;
    }
    main {
        width: 100%;
        position: relative;
        top: 54px;
    }
    
    footer {
        position: relative;
        top: 54px;
        
    }
    nav h3 {
        display: none;
    }
    nav .menu {
        padding: 0;
    }
    .menu p {
        margin: 1rem;
    }
    .case .container {
        justify-content: center;
    }
    
}