* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }

html {
    width: 100%;
}
body {
    width: 100%;
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    color: #594a4e;
    background-color: #FFFFFE;
    font-family: 'Montserrat', sans-serif;
}

header .fixed-top {
    width: 100%;
    top: 24px;
    z-index: 100;
    background-color: #fffffeb8;
        }

main {
    position: relative;
    top: 93px;
    
}

footer {
    width: 100%;
    position: relative;
    top: 97px;
    text-align: center;
    border-top: 3px solid #EDECEA;
}
a {
    color:#0d0d0d;
    text-decoration: none;
}
.menu a {
            color: #797979;
            text-decoration: none;
}
.menu .active {
    color: #0d0d0d;
    text-decoration: underline;
}

h1 {
    font-size: 3rem;
    color: #33272a;
    
}

h2 {
    Font-Family: 'Istok Web', Sans-Serif;
    Font-Size: 2rem;
}

h3 {
    font-size: 1.50625rem;
    color: #33272a;
}

/*-------------nav bar---------------------*/


.img-fluid {
    max-width: 50%;
    height: auto;
}


/*-----------footer---------------*/


footer h3 {
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: 400;
    
}

footer p {
    font-size: 1.25rem;
    font-weight: 300;
    padding: 1rem 0 2rem 0;
}



.footer-text a {
    font-size: 1rem;
    margin: 1rem 0;
    
}

.icon {
    padding: 2rem 0 0 0;
}
.icon a {
    color: #33272a;
    font-size: 1.25rem;
    margin: 0 1rem;
    text-decoration: none;
}
#kafe {
    font-size: 0.75rem;
    text-decoration: underline;
}
.icon p {
    font-size: 0.75rem;
    padding-bottom: 0.5rem;
    padding-top: 2rem;
}
.label {
    padding: 5px 20px;
    box-sizing: border-box;
    background-color: #cde5f0;
    border-radius: 5px;
    text-transform:uppercase;
}
a.button {
    padding: 5px 20px;
    box-sizing: border-box;
    background-color: #f0decd;
    border-radius: 5px;
    cursor: pointer;
    text-transform:uppercase;
    color: #34332e;
    transition: background-color 0.45s ease-in 350ms, color 0.45s ease-in-out 350ms;
}
a.button:hover {
    color: #F8F6EA;
    background-color: #888354;
}
a.button:active {
    background-color: #f4f1e5;
}

