* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }

html {
    width: 100%;
}
body {
    width: 100%;
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    color: #594a4e;
    background-color: #FFFFFE;
    font-family: 'Montserrat', sans-serif;
}

header .fixed-top {
    width: 100%;
    top: 24px;
    z-index: 100;
    background-color: #fffffeb8;
        }

main {
    position: relative;
    top: 93px;
    width: 100%;
    margin: 0 auto;
    border-bottom: 3px solid #EDECEA;
}

footer {
    width: 100%;
    position: relative;
    top: 97px;
    text-align: center;
}
a {
    color:#0d0d0d;
    text-decoration: none;
}
.menu a {
            color: #797979;
            text-decoration: none;
}
.menu .active {
    color: #0d0d0d;
    text-decoration: underline;
}

h1 {
    font-size: 3rem;
    color: #33272a;
    
}

h2 {
    Font-Family: 'Istok Web', Sans-Serif;
    Font-Size: 2rem;
}

h3 {
    font-size: 1.50625rem;
    color: #33272a;
}

/*-------------nav bar---------------------*/




/*-----------footer---------------*/


footer h3 {
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: 400;
    
}

footer p {
    font-size: 1.25rem;
    font-weight: 300;
    padding: 1rem 0 2rem 0;
}



.footer-text a {
    font-size: 1rem;
    margin: 1rem 0;
    
}

.icon {
    padding: 2rem 0 0 0;
}
.icon a {
    color: #33272a;
    font-size: 1.25rem;
    margin: 0 1rem;
    text-decoration: none;
}
#kafe {
    font-size: 0.75rem;
    text-decoration: underline;
}
.icon p {
    font-size: 0.75rem;
    padding-bottom: 0.5rem;
    padding-top: 2rem;
}
.label {
    padding: 5px 20px;
    box-sizing: border-box;
    background-color: #cde5f0;
    border-radius: 5px;
    text-transform:uppercase;
}
a.button {
    padding: 5px 20px;
    box-sizing: border-box;
    background-color: #f0decd;
    border-radius: 5px;
    cursor: pointer;
    text-transform:uppercase;
    color: #34332e;
    transition: background-color 0.45s ease-in 350ms, color 0.45s ease-in-out 350ms;
}
a.button:hover {
    color: #F8F6EA;
    background-color: #888354;
}
a.button:active {
    background-color: #f4f1e5;
}

/*@media only screen and (max-width: 480px) {
    footer {
        max-width: 80%;
        margin: 0 auto;
    }
}*/


/*-----------------Case-------------------*/
.app-name {
    text-align: center;
    margin: 2rem 0;
    
}

.banner {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem auto;
}


.app-img {
    flex: 1 2 40%;
    height: 550px;
    max-width: 50%;
    margin: 0 auto;
    overflow: hidden;
    
}

.app-img img {
    max-width: 100%;
    height: auto;
    display: block;
}
.description {
    flex: 1 2 40%;
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-areas: "card-role"
                        "card-tool"
                        "card-platform"
                        "card-timeline";
    grid-template-columns: 1fr;
}
.card-role {
    grid-area: card-role;
    display: grid;
    grid-template-areas: "left right";
    grid-template-rows: 1fr;
}
.card-tool {
    grid-area: card-tool;
    display: grid;
    grid-template-areas: "left right";
    grid-template-rows: 1fr;
}
.card-platform {
    grid-area: card-platform;
    display: grid;
    grid-template-areas: "left right";
    grid-template-rows: 1fr;
}
.card-timeline {
    grid-area: card-timeline;
    display: grid;
    grid-template-areas: "left right";
    grid-template-rows: 1fr;
}
.left {
    grid-area: left;
}
.right {
    grid-area: right;
}



/*---------------responsive-----------*/

/*@media only screen and (max-width: 480px) {
    .mobile {
        display: none;
    }
    
    header {
        padding: 1rem 0;

    }
    nav {
        width: 100%;
    }
    nav .logo {
        margin-left: 1rem;
    }
    nav .menu {
        margin-right: 0;
        padding: 0;
    }
    nav h3 {
        display: none;
    }
    
    .menu p {
        margin: 0.8rem;
    }
    main {
        width: 90%;
        position: relative;
        top: 76.59px;
    }
    
    footer {
        position: relative;
        top: 76.59px;
        
    }
    

}

@media only screen and (min-width:1920px) {
    body {
        
        width: 1920px;
        margin: 0 auto;
    }
    header {
        width: 1920px;
        margin: 0 auto;
    }
}*/