* {
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    font-family: 'Open Sans', sans-serif;
    color: #222222;
}

header {
    width: 100%;
    
    padding: 2rem 0;
    position: fixed;
    top: 0;
    z-index: 100;
        }
main {
    position: relative;
    top: 97px;
    width: 80%;
    margin: 0 auto;
}

footer {
    position: relative;
    top: 97px;
    text-align: center;
}
a {
    color: #222222;
    text-decoration: none;
}
.menu a {
            color: #858585;
            text-decoration: none;
}
.menu .active {
    color: #222222;
}
/*-------------nav bar---------------------*/
nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h3 {
    margin-left: 1rem;
    font-size: 1.50625rem;
}

nav .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1rem;
    
}
.menu p {
    margin-left: 2rem;
}


a.active {
    color: #222222;
}
@media only screen and (min-width: 481px) {
    nav img {
        display: none;
    }
}
@media only screen and (max-width: 480px) {
    header {
        padding:0;
    }
    main {
        position: relative;
        top: 54px;
    }
    
    footer {
        position: relative;
        top: 54px;
        
    }
    nav h3 {
        display: none;
    }
    nav .menu {
        padding: 0;
    }
    .menu p {
        margin: 1rem;
    }
}

/*-----------footer---------------*/


footer h3 {
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Comic Neue', cursive;
}

footer p {
    font-size: 1.25rem;
    font-weight: 300;
    padding: 1rem 0 2rem 0;
}



.footer-text a {
    font-size: 1rem;
    margin: 1rem 0;
    
}

.footer-icon {
    padding: 2rem 0 0 0;
}
.footer-icon a {
    color: #222222;
    font-size: 1.25rem;
    margin: 0 1rem;
    text-decoration: none;
}

.footer-icon p {
    font-size: 0.75rem;
    padding-bottom: 0.5rem;
    padding-top: 2rem;
}

.button {
    padding: 5px 20px;
    box-sizing: border-box;
    background-color: #f0decd;
    border-radius: 5px;
    cursor: pointer;
    text-transform:uppercase;
    color: #34332e;
    transition: background-color 0.45s ease-in 350ms, color 0.45s ease-in-out 350ms;
}
.button:hover {
    color: #F8F6EA;
    background-color: #888354;
}
.button:active {
    background-color: #f4f1e5;
}

@media only screen and (max-width: 480px) {
    footer {
        max-width: 80%;
        margin: 0 auto;
    }
}
/*-----------------hero-------------------*/

.hero {
    height: 1080px;
    background-color: wheat;
}

/*-----------------case-------------------*/
