* {
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    color: #30302F;
    background-color: #fffffe;
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    padding: 2rem 0;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #fffffeb8;
        }
main {
    position: relative;
    top: 93px;
    width: 100%;
}

footer {
    position: relative;
    top: 97px;
    text-align: center;
}
a {
    color: #222222;
    text-decoration: none;
}
.menu a {
            color: #858585;
            text-decoration: none;
}
.menu .active {
    color: #222222;
}

h1 {
    font-size: 4.5rem;
}
h2 {
    font-size: 2rem;
}
/*-------------nav bar---------------------*/
nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h3 {
    margin-left: 1rem;
    font-size: 1.50625rem;
}

nav .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1rem;
    
}
.menu p {
    margin-left: 2rem;
}


@media only screen and (min-width: 481px) {
    nav img {
        display: none;
    }
}


/*-----------footer---------------*/


footer h3 {
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
}

footer p {
    font-size: 1.25rem;
    font-weight: 300;
    padding: 1rem 0 2rem 0;
}



.footer-text a {
    font-size: 1rem;
    margin: 1rem 0;
    
}
#kafe {
    font-size: 0.75rem;
    text-decoration: underline;
}

.icon {
    padding: 2rem 0 0 0;
}
.icon a {
    color: #222222;
    font-size: 1.25rem;
    margin: 0 1rem;
    text-decoration: none;
}

.icon p {
    font-size: 0.75rem;
    padding-bottom: 0.5rem;
    padding-top: 2rem;
}
.label {
    padding: 5px 20px;
    box-sizing: border-box;
    background-color: #cde5f0;
    border-radius: 5px;
    text-transform:uppercase;
}
a.button {
    padding: 5px 20px;
    box-sizing: border-box;
    background-color: #f0decd;
    border-radius: 5px;
    cursor: pointer;
    text-transform:uppercase;
    color: #34332e;
    transition: background-color 0.45s ease-in 350ms, color 0.45s ease-in-out 350ms;
}
a.button:hover {
    color: #F8F6EA;
    background-color: #888354;
}
a.button:active {
    background-color: #f4f1e5;
}

@media only screen and (max-width: 480px) {
    footer {
        max-width: 80%;
        margin: 0 auto;
    }
}
/*-----------------hero-------------------*/

.hero {
    width: 100%;
    margin-bottom: 4rem;
}
.hero h2 {
    font-weight: 300;
    font-family: 'Istok Web', Sans-Serif;
    padding: 2rem 0;
    text-align: center;
}
.hero .text {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.text h1 {
    flex: 1 1 auto;
    padding: 2rem 0 2rem 10%;
    font-family: 'Istok Web', Sans-Serif;
    margin-top: 2rem;
    color: #30302F;
    text-align: left;
}



ul.values {
    flex: 1 2 auto;
    font-size: 1.2rem;
    text-align: left;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-items: center; 
    
    }
ul.values > li {
    padding: 1rem;
    margin: 1rem 0;
    flex: 1 2 auto;
    text-align: left;
    border: 3px dotted gray;
}
/*ul.values > li:nth-child(1) {
    background-color: saddlebrown;
}
ul.values > li:nth-child(2) {
    background-color: saddlebrown;
}
*/
.hero .container {
    width: 80%;
    margin: 2rem auto;
}
#xie {
    margin-top: 0;
    text-indent: 6em;
    font-family: 'Ma Shan Zheng', cursive;
    background-image: url('https://www.onlygfx.com/wp-content/uploads/2017/04/watercolor-brush-stroke-banner-var-18.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#placeholder {
    visibility: hidden;
}


/*-----------------case-------------------*/

.case .text {
    text-align: center;
    
    
}
.case .container {
    width: 80%;
    margin: 0 auto;
    height: 300px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-top: 3px solid #EDECEA;
    border-bottom: 3px solid #EDECEA;
}
.case .left {
    box-sizing: border-box;
    margin-right: 2rem;
    max-width: 60%;
    overflow: hidden;
}
.case .right {
    max-width: 40%;
    overflow: hidden;
}
.case img {
    max-width: 100%;
    height: auto;
    display: block;

}
.case h2 {
    font-weight: 300;
    font-family: 'Istok Web', Sans-Serif;
    padding: 2rem 0;
    margin-bottom: 2rem;
    text-align: center;
}
.case h3 {
    padding: 0 0 1rem 0;
}

/*---------------responsive-----------*/
@media only screen and (max-width: 480px) {
    .mobile {
        display: none;
    }
    .hero {
        margin-top: 5rem;
    }

    .hero p {
        font-size: 1rem;
        margin-top: 0;
    }
    .hero h1 {
        text-align: center;
        margin: 1rem 0;
        font-size: 3rem;
        padding-left: 0;
        padding-right: 0;
    }
    .hero h2{
        font-size: 1.5rem;
        text-align: center;
    }
    .hero .container {
        display: flex;
        flex-direction: column;
    }
    .container .label {
        padding: 1 2rem;
        margin-bottom: 1rem;
        font-size: 2rem;
        display: inline-flex;
        justify-content: space-around;
    }
    .container .button {
        padding: 1 2rem;
        text-align: center;
    }
    
    header {
        padding:1rem 0;

    }
    nav {
        width: 100%;
    }
    nav .logo {
        margin-left: 1rem;
    }
    nav .menu {
        margin-right: 0;
        padding: 0;
    }
    
    main {
        width: 100%;
        position: relative;
        top: 76.59px;
    }
    
    footer {
        position: relative;
        top: 76.59px;
        
    }
    nav h3 {
        display: none;
    }
    nav .menu {
        padding: 0;
    }
    .menu p {
        margin: 0.8rem;
    }
    .case .container {
        justify-content: center;
    }
    
}

@media only screen and (min-width:1920px) {
    body {
        
        width: 1920px;
        margin: 0 auto;
    }
    header {
        width: 1920px;
        margin: 0 auto;
    }
}